@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@600&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #5c5c5c;
  height: 12vh;
  width: 100vw;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#Header-text {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 5vh;
  position: relative;
  top: 2vh;
}

p {
  margin: 0 0;
  font-family: 'IBM Plex Mono', monospace;
}
.App-link, .App-text {
  color: #61dafb;
}

.App-Config {
  min-height: 88vh;
  padding: 0 auto;
  width: 30vw;
  background-color: #f5f5f5;
}

.Upload-text {
  color: #174552;
  padding: 2vh;
  padding-top: 3vh;
  font-size: 4vh;
}

.btn {
  bottom: 10px;
  margin: 2vh auto;
  width: 16vh;
  background: transparent;
  color:  #2c4bff;
  padding: 2vh;
  border-radius: 5px;
  border-color: #2c4bff;
  border-style: solid;
  border-width: 3px;
  text-align: center;
  text-decoration: none;
  transition: 0.25s;
  cursor: pointer;
}

.btn:hover, .btn:focus {
  box-shadow: inset 0 0 0 3em #2c4bff;
  color: #fff;
}

.btn span {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  font-size: 2.5vh;
  margin:0;
}


